body{
    background-image: url(./img/bg1.jpg);
    height : 100%;
    margin: 0px;
    padding-bottom: 10px;
    font-family: 'League Spartan', sans-serif;

}
.header{
    width: 100%;
    height: 190px;
    padding : 4%;
    margin : -3% 0 0 0;
    color: black;
    background-color: #b3a1b8;
    background-image: url(./img/adiv\(1\).png);
    text-align: center;
}

h1{
    align-items: center;
  display: flex;
  justify-content: center;
}

p{
    font-weight: bold;
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    font-size: large;
}
.button-container{
    margin: auto;
    display: block;
}
.button{
    color:white;
    font-weight: bold;
}
.square {
    width: 30%;
    height: 30%;
    float: left;
    background: purple;
    padding-bottom: 1.66%;
    margin: 5px;
}

.container{
    margin: 0 auto;
    width: 600px;
}
.square-container{
    text-align: center;
}
.message{
    text-align: center;
}
.border{
    border: solid;
    border-color: grey;
    border-width: 0.5px;
}
.footer-container{
    background-color: #EDEDED;
}
.foot{
    font-family: 'League Spartan', sans-serif;
}

.hide{
    display: none;
}

